
.ShoppingListItem {
    padding: 4px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
    margin-top: 10px;

    transition-duration: 250ms;

    &:hover {
        box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.5);
    }

    &_must-have {
        text-decoration: underline;

        border: 1px dashed red;
    }
}